<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorator="layouts/common">
    <head>
        <title>Assign New</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Enroll in New Subjects!</h1>
            <table class="table mt-5 table-responsive">
            <thead>
                <tr>
                    <th>Subject Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="subject: ${subjects}">
                    <td th:text="${subject.name}"></td>
                    <td th:text="${subject.description}"></td>
                    <td>
                        <a href="#" th:href="@{/subjects/{id}/new(id=${subject.id})}" class="btn btn-success">
                            Enroll Now!
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>
