<!DOCTYPE HTML>
<html layout:decorator="layouts/common">
    <head>
        <title>Landing Page</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Educational System Version 1</h1>
                    <p sec:authorize="!isAuthenticated()">Please <a href='#' th:href="@{/login}" class="btn btn-primary">Sign in</a> to access your list of subjects</p>
                    <h2 sec:authorize="isAuthenticated()">
                        Welcome  <span sec:authentication="name"></span>
                    </h2>
                    <h4 sec:authorize="isAuthenticated()">
                        Check your List of Subjects <a href="#" th:href="@{/subjects}">Here</a>
                    </h4>
                </div>
            </div>
        </div>
    </body>
</html>