<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorator="layouts/common">
    <head>
        <title>Subjects List</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2>List of Subjects for <span sec:authentication="name"></span></h2>
            <div th:if="${subject_name}" class="alert alert-success">
                <p>Successfully Enrolled in <span th:text="${subject_name}"></span>!</p>
            </div>
            <table class="table mt-5 table-responsive">
                <thead>
                    <tr>
                        <th>Subject Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subject: ${subjects}">
                        <td>
                            <a href="#" th:href="@{/subjects/{id}(id=${subject.id})}" class="btn btn-link">
                                <span th:text="${subject.name}"></span>
                            </a>
                        </td>
                        <td th:text="${subject.description}"></td>
                        <td>
                            <form th:action="@{/subjects/{id}/unassign(id=${subject.id})}" method="post">
                                <button type="submit" class="btn btn-danger">
                                    unassign
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="#" th:href="@{/subjects/new}" class="btn btn-link">Take a New Subject</a>
        </div>
    </body>
</html>
