<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorator="layouts/common">
    <head>
        <title>Subject Details</title>
    </head>
    <body>
        <div layout:fragment="content">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            Subject Name
                        </th>
                        <th>Description</th>
                        <th>List of enrolled Students</th>
                    </tr>
                    <tr>
                        <td th:text="${subject.name}"></td>
                        <td th:text="${subject.description}"></td>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item" th:each="student :${subject.students}">
                                    <span th:text="${student.studentname}"></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </body>
</html>
